-e git+https://github.com/ind9/PyPDF2.git@BugFix#egg=PyPDF2-1.27.0
click>=6.7
matplotlib>=2.2.3
numpy>=1.13.3
opencv-python==4.3.0.36
openpyxl>=2.5.8
pandas>=0.23.4
pdfminer.six>=20170720
scikit-learn>=0.21.2
